.main_episodes_box {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .main_text_box {
    height: 50px;
    min-width: 160px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 800;
  }
  .main_select_box {
    height: 50px;
    min-width: 160px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .select_box {
      height: 30px;
      width: 150px;
      font-size: 1rem;
    }
  }
}
