.home_main_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;

  .home_info_box {
    max-width: 800px;
    min-height: 400px;
    .home_page_span {
      font-weight: 800;
    }
  }
}
